p {color: rgb(0, 121, 221);
    font-size: 30px;}

h1 {color:rgb(3, 91, 192);
    font-size: 40px;}

.h{display: flex;}

.moha {display: flex;}

.x{display: flex;}
    
.hamzz{background-color: rgb(0, 0, 0);
    width: 600px;
    height: 600px;
    margin: 20px;
    padding: 20px;}

.y{display: flex;}
    
.z{display: flex;}

.n{display: flex;}

.v{display: flex;}

.hamza{display: flex;}

button{background-color: rgb(0, 73, 145);
    color: white;
    font-size: 20px;
    padding: 5px 50px;
    border: none;
    border-radius: 50px;}